body{
	justify-content:space-evenly;
}
h1{
	text-align: center;
	font-size:xxx-large;
	font-weight: bolder;
	font-family: cursive;


}
#findBall{
	display: flex;
	align-items: center;
	margin-top: 0;
}

#orangeBall{
	display: block;
  background: black;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: 0;
	
    
    background-color: orange;

}

#container{
	display: flex;
	justify-content:space-evenly;
	margin-top: 0;
}
.cup{
	width: 200px;
    border-bottom: 300px solid red ;
    border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	background-color: powderblue;
}
#re{
	text-align: center;
	margin-top: 20px;
}
#replay{
	height: 100px;
	width:120px;
	font-size:larger;
	text-align: center;
	cursor:pointer;
	background-color:brown
}

#play{
	height: 21px;
	width:60px;
}

div {
	text-align: center;
}
#rest{
	height: 21px;
	width:60px;
}
#message{
	text-align: center;
	font-size:large;
	font-weight: lighter;
	font-family: 'Times New Roman', Times, serif;
}